@model ProductListModel;
@{
    ViewData["Title"] = "Products";
}

@foreach (var product in Model.Products)
{
    <h4>@product.Name</h4>
    <p>@product.Description</p>
    <p>@product.Price.ToString()</p>
    <br/>
}
